.top-page {
  padding: 24px 0 0;
  height: 100vh;
  .header {
    .page-title {
      margin: 16px 0 0;
      text-align: center;
    }
    .top-icon {
      display: block;
      width: 80px;
      margin: 16px auto;
    }
    .description {
      width: 85%;
      margin: 0 auto 40px;
      text-align: center;
      &.blog-link {
        width: 100%;
        box-sizing: border-box;
        background-color: #ededed;
        padding: 24px 0;
        margin: 0 auto 40px;
        .link-comment {
          margin: 0 0 8px;
        }
      }
      .title {
        font-size: 18px;
        background: linear-gradient(transparent 40%, #f5f3d7 0%);
      }
      .emoji {
        font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji",
          "Noto Color Emoji", "Noto Emoji", sans-serif;
      }
    }
  }
  main {
    width: 90%;
    max-width: 580px;
    min-width: 320px;
    background-color: #f6ebf7;
    margin: 0 auto 24px;
    box-sizing: border-box;
    padding: 24px 16px 40px;
    border-radius: 24px;
    .container {
      font-weight: normal;
      .message {
        font-size: 18px;
        text-align: center;
      }
      .dividing-line {
        border: solid 2px #f2d7f5;
        width: 80%;
      }
      .form {
        padding: 24px 0 16px;
        width: 280px;
        margin: 0 auto 16px;
        .form-label {
          display: block;
          margin-bottom: 8px;
        }
        .input-box {
          display: block;
          width: 250px;
          height: 24px;
          font-size: 16px;
          border: none;
          border-radius: 6px;
          outline: none;
          padding: 8px 12px;
          margin: 0 auto 16px;
          &.expiration {
            width: 24px;
            margin: 0;
          }
          &.code {
            width: 32px;
            margin: 0;
          }
        }
        .text-area {
          display: block;
          width: 250px;
          height: 100px;
          border: none;
          border-radius: 6px;
          font-size: 16px;
          outline: none;
          padding: 8px 12px;
          margin: 0 auto 16px;
        }
        .expiration-area {
          display: flex;
          .slash {
            padding: 8px 6px 0;
          }
        }
        .comment {
          font-size: 12px;
          margin: 0 0 8px;
        }
        ::placeholder {
          color: #c4c4c4;
        }
      }
      .agree-check-area {
        text-align: center;
        margin-bottom: 16px;
      }
      .submit-button {
        display: block;
        cursor: pointer;
        width: 98%;
        max-width: 480px;
        height: 60px;
        margin: 0 auto;
        padding: 4px 28px;
        font-size: 16px;
        font-weight: bold;
        color: #f7f7f7;
        border: none;
        border-radius: 28px;
        background-color: #f2abfa;
        &.disable {
          background-color: #cac7c7;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .flash-area {
      box-sizing: border-box;
      font-size: 14px;
      color: #fff;
      position: fixed;
      z-index: 100;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
      filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.7));
      background-color: #e937fd;
      animation: fadeout 7s forwards;
    }
    @keyframes fadeout {
      100% {
        opacity: 0;
      }
    }
  }
  .announce {
    display: block;
    max-width: 720px;
    width: 90%;
    font-size: 12px;
    margin: 0 auto 64px;
  }
  .footer {
    text-align: center;
    padding-bottom: 64px;
    .line-first {
      margin: 0;
      border: 3px solid #f2d7f5;
    }
    .line-second {
      margin: 4px 0 0;
      border: 3px solid #f2d7f5;
    }
    .footer-icon-area {
      margin-top: 12px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .icon1 {
        display: block;
        height: 40px;
      }
      .icon2 {
        display: block;
        width: 60px;
      }
    }
    .terms {
      .link-text {
        font-size: 12px;
        padding: 0 8px;
        color: #333;
      }
    }
    .copyright {
      display: block;
      margin-bottom: 12px;
    }
    .sns-icon {
      display: block;
      margin: 8px auto;
      width: 30px;
    }
  }
}
